h1{
  color:gray;
  font-size: 48px;
  font-family: "courier new";
}

body{
  background-color: #fcba03;
  cursor: grab;
  font-size: 30px;
  font-family: "courier new";
}

p{
  color: #fcba03;
  font-family: "courier new";
}

a{
  text-decoration: none;
  color:#fcba03;
  font-family: "courier new";
}

a:visited {
  text-decoration: none;
  color:#fcba03;
}

#clouds{
  position: fixed;
  right:0;
  bottom:0;
  min-width: 100%;
  min-height: 100%;
}

#rain{
  position: fixed;
  font-size: 100px;
  left: 350;
  top: 320;
}

#uh{
  position: fixed;
  font-size: 20px;
  left: 50;
  top: 725;
}
